*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.body-div {
    
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    background-color: rgba(0,0,0,0.7);
}
.active-0 {
    display: inline;
}
.navbar {
    height: 60px;
    background-color: #0f1111; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width:113px ;
}
.border { 
    border: 1.5px solid transparent;

}
.border:hover {
    border: 1.5px solid white;
}
.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.nav-address {
    height:50px;
    width: 88.64px;
    margin: 5px 2px 0px 0px;
    padding:  0px 0px 0px 0px;
    
    
    
}
/* box 2*/
.Deliver {
    font-size: 0.75rem;;
    color: #cccccc;
    margin-left: 15px;
    padding-top: 3px;
}
.Country {
    font-size: 1rem; 
    color: #ffffff;
    margin-left: 3px;
}
.add-icon {
    display: flex;
    align-items: center;
}
/*box 3*/
.searchbar{
    display:flex;
    height: 40px;
    width: 620px;
    align-items: center;
    justify-content: space-evenly;
}
.searchbar:hover{
    border: 2.5px solid orange;
    border-radius: 5px;
    outline: none;
}
#dropdown {
    height: 40px;
    width: 51.6px;
    background-color: #E6E6E6;
    columns: #0F1111;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    border: none;
}
#dropdown:focus{
    border: 2.5px solid orange;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}
.search {
    width: 100%;
    height: 38px;
    border: border-box;
    font-size: 1rem;
    border: none;
}
.search:focus{
    /* border: solid 2.5px orange;- */
    outline: none;

}
.search-icon{

    height: 40px;
    width: 45px;
    background-color:rgb(255, 170, 0);
    border-color: #febd68;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: rgb(56, 53, 53);
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.search-icon:hover{
    border: solid 2.5px rgb(255, 116, 0);
    
}
.language{
    margin: 4px;
    width: 70px;
    height: 50px;
    display: flex;
    align-items: center;
}
#change-lang {
    border: none;
    background-color: #0F1111;
    color: white;
    width: 39px;
    height: 15px;
    outline: none;
    
}
.fa-solid fa-flag-usa{
    width: 21.6px;
    height: 16.2px;
}
.acc-list{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
.triangle{
    border-bottom: 10px solid white;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    top: 43px;
    right:272px ;
    visibility: hidden;
}
.hidden-signinbox{
    height: 450px;
    width: 720px;
    background-color: white;
    position: absolute;
    top: 53px;
    right: 80px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0;
    border-radius: 5px;
    transition: all 0.5;
    visibility: hidden;
    z-index: 3;
}
.active{
    visibility: visible;
}
.active-1{
    display: inline;
    z-index: 2;
    top: 60px;

}
.acc-signin{
    height: 80px;
    width: 700px;
    z-index: 101;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: white;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    /* right: 150px; */
    /* top: 53px; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* visibility: hidden; */
}
.acc-signin-border{
    width: 500px;
    height: 0.5px;
    background-color: rgb(17, 17, 17,0.1);
    /* position: absolute; */
    /* top:80px;
    right:105px; */
    margin-top: 10px;
    z-index: 104;
    /* visibility: hidden; */
}
.acc-border{
    width: 0.5px;
    height: 290px;
    background-color: rgb(17, 17, 17,0.1);
    position: absolute;
    top:100px;
    right:400px;
    z-index: 104;
    /* visibility: hidden; */
    
}
.acc-signin .signin{
    height: 37px;
    width: 200px;
    border-radius: 10px;
    margin-top: 10px;
    outline: none;
    border: none;
    background-color: #FFD814;
}
.acc-signin .signin a{
    text-decoration: none;
    color: rgba(17, 17, 17,0.7);
    font-weight:600;
}
.acc-signin .signin a:hover{
    text-decoration: underline red;
}
.acc-signin-div {
    height: 10px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 10px; */
    font-size: 12px;
    color: rgba(0,0,0,0.7);
}
.acc-signin-div a{
    text-decoration: none;
    color: rgba(4, 145, 215, 0.904);
}
.acc-yourlist{
    height: 320px;
    width: 350px;
    /* position: absolute; */
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    /* top: 133px;
    right: 500px; */
    border-bottom-left-radius: 5px;
    /* visibility: hidden; */
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
.acc-yourlist h3{
    align-self: flex-start;
    margin-left: 40px;
    margin-top: 20px;
}
.acc-yourlist a{
    text-decoration: none;
    font-size: 14px;
    color: rgba(17, 17, 17,0.7);
    align-self: flex-start;
    margin-left: 40px;
    margin-top: 10px;
}
.acc-yourlist a:hover{
    text-decoration: underline;
    color: #E47911;
}
.your-acc{
    height: 320px;
    width: 350px;
    /* position: absolute; */
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    /* top: 133px;
    right: 150px; */
    border-bottom-right-radius: 5px;
    /* visibility: hidden; */
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
.your-acc h3{
    margin-top:20px;
    align-self: flex-start;
    margin-left: 20px;
    
}
.your-acc a{
    text-decoration: none;
    font-size: 14px;
    color: rgba(17, 17, 17,0.7);
    align-self: flex-start;
    margin-left: 20px;
    margin-top: 9px;
    
    
}
.your-acc a:hover{
    text-decoration: underline;
    color: #E47911;
}
.acc-downsign{
    display: flex;
    
}
.acc-sort-down {
    font-size: 0.8rem;
    color: rgb(167, 172, 178);
    margin-left:5px;
}
.accounts{
    background-color: #0f1111;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
span{
    font-size: 0.8rem;
}
.nav-returns {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* b0x6 */
.nav-cart{
    height: 50px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-cart i{
   font-size:29px;
}
.cart{
    font-size: 14px;
    font-weight: bold;
}

.cut-mark{
    height: 40px;
    width:40px;
    position: absolute;
    left: 360px;
    top: 10px;
    box-shadow: 2px 2px 20px black;
    outline: none;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    display: none;
}
.cut-mark i{
    font-size: 1.8rem ;
    cursor: pointer;
    color: white;
    font-weight: 600;
}
.cut-mark:hover{
        height:50px ;
        width: 50px;
        transition: all 0.2s;
        top: 1px;
}
.slide-bar {
    height: 100vh;
    width: 350px;
    background-color: white;
    position: absolute;
    transform: translateX(-390px);
    transition: all 0.5s;
    top: 1px;
    z-index: 101;
    overflow-y: scroll;
    box-shadow: 2px 2px 30px black;
    
    

}
.activate {
    transform: translateX(0);
    transition: all 0.5s;
}


.hidden-head{
    background-color: #232f3e;
    height: 60px;
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content:center;
    
}
.hidden-head h2{
    font-size: 19px;
    line-height: 60px;
}
.hidden-head h2 a{
    text-decoration: none;
    color: white;
    font-size: 19px;
}
.hidden-head h2 a:hover{
    text-decoration: underline;
}
.hidden-head i{
    font-size: 2rem;
    margin-right: 15px;
}

.hidden-content ul div {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0s;;
    color: rgb(70,70,70);
    padding: 15px 25px;
    font-size: 14px;
}
.hidden-content ul div:hover{
    background-color:rgba(70,70,70,0.3) ;
}
.hidden-content ul div i{
    font-size: 1rem;
}
.hidden-content h3 {
    margin-left: 20px;
}
.hidden-content .line {
    background-color: rgba(70,70,70,0.3);
    height: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

.panel{
    background-color: #232f3e;
    display: flex;
    justify-content: space-evenly;
    color: white;
    height: 39px;
}
.panel-all{
    width: 58.41px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.panel-all a{
    color: white;
    text-decoration:none;
    font-size: 0.9rem;
    
}
.panel-options{
    display: flex;
    /* justify-content: center; */
    width: 70%;
    align-items: center;
}
.panel-options a{
    color: white;
    text-decoration: none;
    margin: 9px;
    font-size: 0.9rem;
    font-weight: 500;
    height: 38px;
    /* padding-top:12px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 6px 0 6px;
}

.panel-deals{
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel-deals a{
    
    color: white;
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: 500;
}
/* hero-section style */
.hero-section{
    height: 350px;
}
.slide-button{
    height: 290px;
    width: 70px;
    position: absolute;
    
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    transition: all 2s;
}
.slide-button:hover {
    border: 3px solid #008296;
    box-shadow: 0 0 0 2px #fff;
    
}
.slide-button:active{
    cursor: grabbing;
}
.slide-button-left{
    top:9rem ;
    left: 1rem;
}
.slide-button-right{
    right: 1rem;
    top: 9rem;
}
.slide-icon{
    font-size: 3rem;
    
    
}
.hero-message {
    display: flex;
    background-color: rgba(0,0,0,0.2);
    height: 40px;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 25px;
    margin-left:10rem;
    margin-right:10rem ;
    position: relative;
    border-radius: 10px;
    bottom: 500px;
}
.hero-message a{
    color:#007185 ;
    text-decoration: none;
}
.hero-images{
    height:100vh;/*hight increase*/
    display: grid;
    grid-template-columns: repeat(5,1fr);
    overflow-x:scroll ;
    scroll-margin-bottom: 20px;
    scrollbar-width: none;
    overflow-y: hidden;
    transition: all 2s;
   
    
}
.hero-images img{
    height:500px;
    width: 99vw;
    object-fit:cover;
    cursor: grab;
    transition: all 0.5s; 
}
.shop-section {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    border: 2px solid white;
    background-color: #e2e7e6;
    flex-wrap: wrap;
}
.box {
    height: 385px;
    border: solid 2px white;
    width: 23%;
    background-color: white;
    /* padding: 0px 20px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    margin-bottom: 20px;
    margin-top: 4px;
    border-radius: 20px;
    transition: all 0.5s;
}
.box:hover{
    height: 450px;
    width: 25%;
    
}
.box h2 {
    font-size: 21px;
}

.box-img {
    height: 80%;
    width: 90%;
    /* background-color: #febd68; */
    margin-top: 5px ;
   
}
.box1-image{
    background-image: url(box2_image.jpg);
    background-size: cover;
    
}
.para-box{
    color: #007185;
    align-self: flex-start;
    margin-left: 15px;
}
.box2-image{
    background-image: url(box1_image.jpg);
    background-size: cover;
}
.box3-image{
    background-image: url(box3_image.jpg);
    background-size: cover;
}
.box4-image{
    background-image: url(box4_image.jpg);
    background-size: cover;
}
.box5-image{
    background-image: url(box5_image.jpg);
    background-size: cover;
}
.box6-image{
    background-image: url(box6_image.jpg);
    background-size: cover;
}
.box7-image{
    background-image: url(box7_image.jpg);
    background-size: cover;
}
.box8-image{
    background-image: url(box8_image.jpg);
    background-size: cover;
}
.box9-image{
    background-image: url(box\ 9\ deals-on-shoes.jpg);
    background-size: cover;
}
.box10-image{
    background-image: url(box\ 10\ Player\'s\ paradise\ starts\ here.jpg);
    background-size: cover;
}
.box10 h2{
    margin-left: 10px;
}
.box11-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.box11-img-cont{
    height: 107px;
    width: 47%;
}
.box11-img {
    /* border: 2px solid red; */
    height: 104px;
    width: 100%;
    /* margin: 0px 8px 0px 8px; */

}

.box11-img1{
    margin-right: 9px;
    background-image: url(box11-1Look\ your\ best\ this\ season\ for\ her.jpg);
    background-size: cover;
}
.box11-img2{
    background-image: url(box11-2\ Look\ your\ best\ this\ season\ for\ him.jpg);
    background-size: cover;

}
.box11-img3{
    background-image: url(box11-3Look\ your\ best\ this\ season\ for\ teens.jpg);
    background-size: cover;

}
.box11-img4{
    margin-right: 9px;
    background-image: url(box11-4Look\ your\ best\ this\ season\ for\ kids.jpg);
    background-size: cover;

}
.box11-img-span{
    color: rgba(15, 17, 17,0.75);
    font-weight: 520;
}
.box12-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.box12-img-cont{
    height: 107px;
    width: 47%;
}
.box12-img {
    /* border: 2px solid red; */
    height: 104px;
    width: 100%;
    /* margin: 0px 8px 0px 8px; */

}

.box12-img1{
    margin-right: 9px;
    background-image: url(box12-1\ Score\ the\ top\ PCs\ &\ Accessories\ Desktops.jpg);
    background-size: cover;
}
.box12-img2{
    background-image: url(box12-2Score\ the\ top\ PCs\ &\ Accessories\ laptops.jpg);
    background-size: cover;

}
.box12-img3{
    background-image: url(box12-3\ Score\ the\ top\ PCs\ &\ Accessories\ hard\ drives.jpg);
    background-size: cover;

}
.box12-img4{
    margin-right: 9px;
    background-image: url(box12-4\ Score\ the\ top\ PCs\ &\ Accessories\ pc\ accessories.jpg);
    background-size: cover;

}
.box12-img-span{
    color: rgba(15, 17, 17,0.75);
    font-weight: 520;
}
.box12 h2 {
    margin-left: 9px;
}

/* footer panel1 */
.footer-panel1{
    height: 49px;
    background-color: #37475a;
    margin-top: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 0.85rem;
    cursor: pointer;
    /* transition: all 2s; */
}
.footer-panel1:hover{
    background-color: rgba(55, 71, 90,0.9);
    /* transition: all 0s; */
}
.footer-panel2{
    background-color: #222f3d;
    color: white;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.fitems{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.fitems a{
    color:#dddddd;
    font-size: 0.8rem;
    text-decoration: none;
    margin: 10px 0px 10px 0px;
}
.fitems h4 {
    font-size: 1rem;
    margin-bottom: 10px;
    
}
.footer-panel3{
    background-color: #222f3d;
    border-top: 0.05px solid rgba(211, 210, 210,0.15);
    height:70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.famazon-icon{
    height: 50px;
    width: 100px;
    background-image: url("amazon_logo.png");
    background-size: cover;
    
}
.foot-panel4{
    background-color: #131a22;
    height: 78px;
    color: white;
}
.footer-condition-panel a{
    color: white;
    text-decoration: none;
    margin: 8px;
    font-size: 0.75rem;
    font-weight: 500;
}
.footer-condition-panel{
    display: flex;
    justify-content: center;
}
.foot-panel4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-4-copyright{
    font-size: 0.75rem;
    font-weight: 500;
}
